includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/
        - tests/
    excludePaths:
        - legacy/
    scanFiles:
        - legacy/MysqliDb.php
        - legacy/sanitize.lib.php
        - legacy/date_time.lib.php
        - legacy/common.lib.php
        - legacy/update.lib.php
    treatPhpDocTypesAsCertain: false
